/* background color #ffffff 
title text color  #212121
primary text color #757575
accent color #2196F3
button text accent color #FFFFFF
logo #2196F3
footer #2F303A*/
:root{
 --primary-text-color:#757575;
 --title-text-color:#212121;
 --accent-color:#2196F3;
 --primary-bg-color:#ffffff;
}
body{
    background-color:var(--primary-bg-color) ;
    color:var(--primary-text-color);

    font-family:Roboto,sans-serif ;
}
 .logo{
    color:var(--accent-color);
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
 }
.logo-head{
    color: #000000;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-foot{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.list{
    list-style: none;
}
/* site-nav */
.site-nav .link{
    color: #212121;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .link:hover, 
.site-nav .link:focus{
    color:var(--accent-color);
}

.site-nav .link.current{
    color: var(--accent-color);
}
.auth-nav{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
/* hero */

.hero-title{
    color: var(--title-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button:hover,
.hero-button:focus{
 color: var(--accent-color);
}

/* features */

.features-title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
   
}
.features-text{
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
/* our team  */

.team-title{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-text{
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

/* section  */

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.select-link {
    text-decoration: none;
}

.secondary-text {
    color: var(--primary-text-color);
}


/* portfolio select section */

.select{
    color: var(--title-text-color);
}
.select:hover,
.select:focus{
    color: var(--accent-color);
}
.select-link {
    color: var(--title-text-color)
}
/* portfolio projects */

.projects-title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.projects-text{
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
.select{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

/* footer */

footer{
    background-color: #2F303A;
}

footer .link{
    color: #757575;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
footer .link:hover,
footer .link:focus{
    color: var(--accent-color);
}
.adress-link{
    color:rgba(255, 255, 255, 1) ;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.adress-link:hover,
.adress-link:focus{
    color: var(--accent-color);
}

/* button */

.button{
    color: var(--title-text-color);
    text-decoration: none;
}
.button:hover,
.button:focus{
    color: var(--accent-color);
}





